@{
    ViewData["Title"] = "Hizmetlerimiz | Hadımköy Ankara Nakliyat - Profesyonel Nakliye ve Taşımacılık";
    ViewData["Description"] = "Hadımköy Ankara Nakliyat, şehirlerarası nakliyat, evden eve taşımacılık, ofis ve işyeri taşımacılığı, fuar ve ambar nakliyatı, asansörlü taşıma ve sigortalı taşımacılık hizmetleriyle yanınızda. Her ihtiyaca özel çözümlerimizle eşyalarınızı güvenle, hızlı ve ekonomik şekilde yeni adresinize ulaştırıyoruz. Uzman ekibimizle hizmetlerimizi inceleyin, farkımızı keşfedin!";
}

<!--Start Page Header-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(/assets/images/gallery/hadimkoy_hakkimizda.png)">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Hizmetlerimiz</h2>
            <ul class="thm-breadcrumb">
                <li><a href="/Home/Index">Ana Sayfa</a></li>
                <li><span class="icon-right-arrow21"></span></li>
                <li>Hizmetlerimiz</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Header-->
<!--Start Service One-->
<section class="service-one service-one--service">
    <div class="container">
        <div class="row">
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img1.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">International Shipping</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-delivery-man"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img2.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">Ocean Freight</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img3.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">Rail Freight</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-international-shipping"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img1.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">International Shipping</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-ship-1"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img2.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">Ocean Freight</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-storehouse"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img3.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">Rail Freight</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-humanitarian-aid"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
        </div>
    </div>
</section>
<!--End Service One-->
