@{
    ViewData["Title"] = "Nakliyatta Hizmet Türleri | Profesyonel Taşımacılık Çözümleri";
    ViewData["Description"] = "Nakliyatta hizmet türleri hakkında detaylı bilgi alın. Evden eve nakliyat, şehirlerarası taşımacılık, ofis taşımacılığı, parsiyel taşımacılık, ambar ve kamyonet nakliye hizmetleriyle profesyonel, güvenli ve ekonomik çözümler. Hemen en uygun fiyat teklifini alın!";
}

<!--Start Team One-->
<section class="team-one team-one--two team-one--two--team">
    <div class="shape1"><img src="assets/images/pattern/team-page-pattern.png" alt=""></div>
    <div class="container">
        <div class="row">
            <!--Start Team One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".1s">
                <div class="team-one__single">
                    <div class="team-one__single-img">
                        <div class="inner">
                            <img src="~/assets/images/gallery/nakliyat_gorseli_355x355.png" alt="Sehirlerarası Nakliyat">
                        </div>
                    </div>

                    <div class="team-one__single-content">
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/had%C4%B1mk%C3%B6y-ankara-nakliyat-3b1208376/"><span class="icon-linkedin"></span></a></li>
                            <li><a href="https://x.com/hadimkoyankanak"><span class="icon-twitter1"></span></a></li>
                            <li><a href="https://www.instagram.com/hadimkoyankaranakliyat/"><span class="icon-instagram"></span></a></li>
                            <li><a href="https://www.facebook.com/hadimkoyankaranakliyat"><span class="icon-facebook-f"></span></a></li>
                        </ul>
                        <span>Taşımacılık</span>
                        <h2><a href="/Home/Sehirlerarasi_Nakliyat">Şehirlerası Nakliyat</a></h2>
                        <p>
                            Türkiye’nin her yerine sigortalı, güvenli ve ekonomik taşımacılık. Uzman ekibimizle hızlı ve sorunsuz <strong>şehirlerarası nakliyat</strong> hizmeti sunuyoruz.
                        </p>
                        <div class="btn-box">
                            <a href="/Home/Sehirlerarasi_Nakliyat">Hizmete git <i class="icon-right-arrow21"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Team One Single-->
            <!--Start Team One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="team-one__single">
                    <div class="team-one__single-img">
                        <div class="inner">
                            <img src="~/assets/images/gallery/nakliyat_gorseli_355x355.png" alt="Evden Eve Nakliyat">
                        </div>
                    </div>

                    <div class="team-one__single-content">
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/had%C4%B1mk%C3%B6y-ankara-nakliyat-3b1208376/"><span class="icon-linkedin"></span></a></li>
                            <li><a href="https://x.com/hadimkoyankanak"><span class="icon-twitter1"></span></a></li>
                            <li><a href="https://www.instagram.com/hadimkoyankaranakliyat/"><span class="icon-instagram"></span></a></li>
                            <li><a href="https://www.facebook.com/hadimkoyankaranakliyat"><span class="icon-facebook-f"></span></a></li>
                        </ul>
                        <span>Taşımacılık</span>
                        <h2><a href="/Home/Evden_Eve_Nakliyat">Evden Eve Nakliyat</a></h2>
                        <p>
                            Ev eşyalarınızı güvenle, hızlı ve ekonomik şekilde Türkiye genelinde <strong>evden eve nakliyat</strong> hizmeti ile taşıyor, paketleme ve montaj hizmetiyle zahmetsiz taşınma sağlıyoruz.

                        </p>
                        <div class="btn-box">
                            <a href="/Home/Evden_Eve_Nakliyat">Hizmete Git <i class="icon-right-arrow21"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Team One Single-->
            <!--Start Team One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="team-one__single">
                    <div class="team-one__single-img">
                        <div class="inner">
                            <img src="~/assets/images/gallery/nakliyat_gorseli_355x355.png" alt="Ambar Nakliyat">
                        </div>
                    </div>

                    <div class="team-one__single-content">
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/had%C4%B1mk%C3%B6y-ankara-nakliyat-3b1208376/"><span class="icon-linkedin"></span></a></li>
                            <li><a href="https://x.com/hadimkoyankanak"><span class="icon-twitter1"></span></a></li>
                            <li><a href="https://www.instagram.com/hadimkoyankaranakliyat/"><span class="icon-instagram"></span></a></li>
                            <li><a href="https://www.facebook.com/hadimkoyankaranakliyat"><span class="icon-facebook-f"></span></a></li>
                        </ul>
                        <span>Taşımacılık</span>
                        <h2><a href="/Home/Ambar_Nakliyat">Ambar Nakliyat</a></h2>
                        <p>
                            <strong>Ambar nakliyat</strong> ile parça ve toplu yüklerinizi Türkiye’nin her noktasına ekonomik ve güvenli şekilde ulaştırıyoruz.
                        </p>
                        <div class="btn-box">
                            <a href="/Home/Ambar_Nakliyat">Hizmete git <i class="icon-right-arrow21"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Team One Single-->
            <!--Start Team One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".1s">
                <div class="team-one__single">
                    <div class="team-one__single-img">
                        <div class="inner">
                            <img src="~/assets/images/gallery/nakliyat_gorseli_355x355.png" alt="Parsiyel Nakliyat">
                        </div>
                    </div>

                    <div class="team-one__single-content">
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/had%C4%B1mk%C3%B6y-ankara-nakliyat-3b1208376/"><span class="icon-linkedin"></span></a></li>
                            <li><a href="https://x.com/hadimkoyankanak"><span class="icon-twitter1"></span></a></li>
                            <li><a href="https://www.instagram.com/hadimkoyankaranakliyat/"><span class="icon-instagram"></span></a></li>
                            <li><a href="https://www.facebook.com/hadimkoyankaranakliyat"><span class="icon-facebook-f"></span></a></li>
                        </ul>
                        <span>Taşımacılık</span>
                        <h2><a href="/Home/Parsiyel_Nakliyat">Parsiyel Nakliyat</a></h2>
                        <p>
                            Az hacimli yükleriniz için uygun fiyatlı, sigortalı ve hızlı <strong>parsiyel taşımacılık</strong> hizmetiyle tüm Türkiye’ye güvenli teslimat.
                        </p>
                        <div class="btn-box">
                            <a href="/Home/Parsiyel_Nakliyat">Hizmete git <i class="icon-right-arrow21"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Team One Single-->
            <!--Start Team One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="team-one__single">
                    <div class="team-one__single-img">
                        <div class="inner">
                            <img src="~/assets/images/gallery/nakliyat_gorseli_355x355.png" alt="Ofis Taşımacılığı">
                        </div>
                    </div>

                    <div class="team-one__single-content">
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/had%C4%B1mk%C3%B6y-ankara-nakliyat-3b1208376/"><span class="icon-linkedin"></span></a></li>
                            <li><a href="https://x.com/hadimkoyankanak"><span class="icon-twitter1"></span></a></li>
                            <li><a href="https://www.instagram.com/hadimkoyankaranakliyat/"><span class="icon-instagram"></span></a></li>
                            <li><a href="https://www.facebook.com/hadimkoyankaranakliyat"><span class="icon-facebook-f"></span></a></li>
                        </ul>
                        <span>Taşımacılık</span>
                        <h2><a href="/Home/Ofis_Tasimaciligi">Ofis Taşımacılığı</a></h2>
                        <p>
                            <strong>Ofis ve büro taşımacılığı</strong> hizmetini planlı, hızlı ve güvenli taşımayla iş sürekliliğinizi aksatmadan Türkiye genelinde veriyoruz.
                        </p>
                        <div class="btn-box">
                            <a href="/Home/Ofis_Tasimaciligi">Hizmete git <i class="icon-right-arrow21"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Team One Single-->
            <!--Start Team One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="team-one__single">
                    <div class="team-one__single-img">
                        <div class="inner">
                            <img src="~/assets/images/gallery/nakliyat_gorseli_355x355.png" alt="Fuar Taşımacılığı">
                        </div>
                    </div>

                    <div class="team-one__single-content">
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/had%C4%B1mk%C3%B6y-ankara-nakliyat-3b1208376/"><span class="icon-linkedin"></span></a></li>
                            <li><a href="https://x.com/hadimkoyankanak"><span class="icon-twitter1"></span></a></li>
                            <li><a href="https://www.instagram.com/hadimkoyankaranakliyat/"><span class="icon-instagram"></span></a></li>
                            <li><a href="https://www.facebook.com/hadimkoyankaranakliyat"><span class="icon-facebook-f"></span></a></li>
                        </ul>
                        <span>Taşımacılık</span>
                        <h2><a href="/Home/Fuar_Tasimaciligi">Fuar Taşımacılığı</a></h2>
                        <p>
                            <strong>Fuar ve etkinlik taşımacılığı</strong> hizmeti zamanında teslimat, teknik destek ve güvenli paketleme ile tüm fuar malzemeleriniz güvende.
                        </p>
                        <div class="btn-box">
                            <a href="/Home/Fuar_Tasimaciligi">Hizmete git <i class="icon-right-arrow21"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Team One Single-->
        </div>
    </div>
</section>
<!--End Team One-->

