<!--Start Page Header-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(/assets/images/gallery/hadimkoy_hakkimizda.png)">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1 style="color: white; font-weight: bold;">İlçe Bazlı hizmetlerimiz</h1>
            <ul class="thm-breadcrumb">
                <li><a href="/Home/Index">Ana Sayfa</a></li>
                <li><span class="icon-right-arrow21"></span></li>
                <li>İlçe Bazlı hizmetlerimiz</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Header-->
<!--Start Service One-->
<section class="service-one service-one--service">
    <div class="container">
        <div class="row">
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/gallery/zeytinburnu_nakliyat.png" loading="lazy" alt="Zeytinburnu nakliyat">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="/zeytinburnu-nakliyat">Zeytinburnu Nakliyat</a></h2>
                            <p>
                                "Zeytinburnu merkezli firmamızla Veliefendi ve tüm mahallelerde hızlı evden eve nakliyat. Yerel uzmanlık ve güvenilir taşıma için komşunuzu arayın."
                            </p>
                            <div class="btn-box">
                                <a href="/zeytinburnu-nakliyat">
                                    Devamını oku<span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/gallery/esenyurt_nakliyat.png" loading="lazy" alt="esenyurt nakliyat">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="/esenyurt-nakliyat">esenyurt Nakliyat</a></h2>
                            <p>
                                "Esenyurt evden eve nakliyat ihtiyaçlarınızda modüler asansörlü sistemimizle yüksek katlara güvenli taşıma. Kıraç ve Haramidere bölgesinde ekonomik çözümler."
                            </p>
                            <div class="btn-box">
                                <a href="/esenyurt-nakliyat">
                                    Devamını oku<span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/gallery/esenyurt_nakliyat.png" loading="lazy" alt="arnavutköy nakliyat">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="/arnavutkoy-nakliyat">Arnavutköy Nakliyat</a></h2>
                            <p>
                               acıklama
                            </p>
                            <div class="btn-box">
                                <a href="/arnavutkoy-nakliyat">
                                    Devamını oku<span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
        </div>
    </div>
</section>
<!--End Service One-->
