@{
    ViewData["Title"] = "Home Page";
}


<!--Start Banner One-->
<section class="banner-one">
    <div class="banner-one__pattern"
         style="background-image: url(/assets/images/pattern/banner-v1-pattern.png);"></div>
    <div class="banner-one__pattern2"><img src="~/assets/images/pattern/banner-v1-pattern2.png" alt="#"></div>

    <div class="banner-one__img1">
        <img class="float-bob-x" src="~/assets/images/gallery/HAN_KOLİ.png"
             alt="#">
    </div>
    <div class="banner-one__img5">
        <img class="float-bob-y" src="~/assets/images/banner/banner-v1-img5.png"
             alt="#">
    </div>
    <div class="shape1 rotate-me"><img src="~/assets/images/shapes/banner-v1-shape1.png" alt="#"></div>
    <div class="container">
        <div class="banner-one__location clearfix">

            <!-- Start Banner One Location single -->
            <div class="banner-one__location-single style1">
                <div class="round-box">
                    <div class="bdr"></div>
                </div>
                <div class="content-box">
                    <div class="img-box">
                        <img src="~/assets/images/gallery/turk_bayragi_30x30.png" alt="">
                    </div>
                    <div class="text-box">
                        <h4>İstanbul</h4>
                        <p>Şehirlerarası Nakliyat <br> Şehir İçi Nakliyat </p>
                    </div>
                </div>
            </div>
            <!-- Start Banner One Location single -->
            <!-- Start Banner One Location single -->
            <div class="banner-one__location-single style2">
                <div class="round-box">
                    <div class="bdr"></div>
                </div>
                <div class="content-box">
                    <div class="img-box">
                        <img src="~/assets/images/gallery/turk_bayragi_30x30.png" alt="">
                    </div>
                    <div class="text-box">
                        <h4>Ankara</h4>
                        <p>Şehirlerarası Nakliyat <br> Şehir İçi Nakliyat </p>
                    </div>
                </div>
            </div>
            <!--End Banner One Location single -->
            <!-- Start Banner One Location single -->
            <div class="banner-one__location-single style3">
                <div class="round-box">
                    <div class="bdr"></div>
                </div>
                <div class="content-box">
                    <div class="img-box">
                        <img src="~/assets/images/gallery/turk_bayragi_30x30.png" alt="">
                    </div>
                    <div class="text-box">
                        <h4>Bursa</h4>
                        <p>Şehirlerarası Nakliyat <br> Şehir İçi Nakliyat </p>
                    </div>
                </div>
            </div>
            <!-- End Banner One Location single -->
            <!-- Start Banner One Location single -->
            <div class="banner-one__location-single style4">
                <div class="round-box">
                    <div class="bdr"></div>
                </div>
                <div class="content-box">
                    <div class="img-box">
                        <img src="~/assets/images/gallery/turk_bayragi_30x30.png" alt="">
                    </div>
                    <div class="text-box">
                        <h4>Eskişehir</h4>
                        <p>Şehirlerarası Nakliyat <br> Şehir İçi Nakliyat </p>
                    </div>
                </div>
            </div>
            <!-- End Banner One Location single -->
            <!-- Start Banner One Location single -->
            <div class="banner-one__location-single style5">
                <div class="round-box">
                    <div class="bdr"></div>
                </div>
                <div class="content-box">
                    <div class="img-box">
                        <img src="~/assets/images/gallery/turk_bayragi_30x30.png" alt="">
                    </div>
                    <div class="text-box">
                        <h4>İzmir</h4>
                        <p>Şehirlerarası Nakliyat <br> Şehir İçi Nakliyat </p>
                    </div>
                </div>
            </div>
            <!-- End Banner One Location single -->
            <!-- Start Banner One Location single -->
            <div class="banner-one__location-single style6">
                <div class="round-box">
                    <div class="bdr"></div>
                </div>

                <div class="content-box">
                    <div class="img-box">
                        <img src="~/assets/images/gallery/turk_bayragi_30x30.png" alt="">
                    </div>
                    <div class="text-box">
                        <h4>Antalya</h4>
                        <p>Şehirlerarası Nakliyat <br> Şehir İçi Nakliyat </p>
                    </div>
                </div>
            </div>
            <!-- End Banner One Location single -->
            <!-- Start Banner One Location single -->
            <div class="banner-one__location-single style7">
                <div class="round-box">
                    <div class="bdr"></div>
                </div>
                <div class="content-box">
                    <div class="img-box">
                        <img src="~/assets/images/gallery/turk_bayragi_30x30.png" alt="">
                    </div>
                    <div class="text-box">
                        <h4>Kocaeli</h4>
                        <p>Şehirlerarası Nakliyat <br> Şehir İçi Nakliyat </p>
                    </div>
                </div>
            </div>
            <!-- End Banner One Location single -->
            <!-- Start Banner One Location single -->
            <div class="banner-one__location-single style8">
                <div class="round-box">
                    <div class="bdr"></div>
                </div>
                <div class="content-box">
                    <div class="img-box">
                        <img src="~/assets/images/gallery/turk_bayragi_30x30.png" alt="">
                    </div>
                    <div class="text-box">
                        <h4>Balıkesir</h4>
                        <p>Şehirlerarası Nakliyat <br> Şehir İçi Nakliyat </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner One Location single -->

        <div class="banner-one__content">
            <div class="banner-one__content-left wow fadeInLeft" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <h2>
                    Hadımköy Ankara <br>
                    <span>Nakliyat</span>
                </h2>
                <p>Türkiyenin En İyi <br> Nakliyat Firması </p>
            </div>

            <div class="banner-one__content-right wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="banner-one__content-right-text">
                    <p>
                        Bizleri daima tercih eden ve daima hizmetimizden yararlanan <br>
                        müşterilerimiz ve onların şahsi yorumları.
                    </p>
                </div>

                <div class="banner-one__content-right-middle">
                    <ul class="clearfix">
                        <li>
                            <div class="img-box">
                                <img src="~/assets/images/gallery/icon_50x50.png" alt="#">
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="~/assets/images/gallery/icon_50x50.png" alt="#">
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="~/assets/images/gallery/icon_50x50.png" alt="#">
                            </div>
                        </li>
                    </ul>

                    <div class="text-box">
                        <h2>Müşteri Yorumları</h2>
                        <p>4.8 (2k Yorumlar)</p>
                    </div>
                </div>

                <div class="banner-one__content-right-btn">
                    <a class="thm-btn" href="/Home/Hakkımızda">
                        Hakkımızda
                        <i class="icon-right-arrow21"></i>
                        <span class="hover-btn hover-bx"></span>
                        <span class="hover-btn hover-bx2"></span>
                        <span class="hover-btn hover-bx3"></span>
                        <span class="hover-btn hover-bx4"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner One-->
<!--Start About One-->
<section class="about-one">
    <div class="container">
        <div class="row">
            <!--Start About One Content-->
            <div class="col-xl-7">
                <div class="about-one__content">
                    <div class="sec-title tg-heading-subheading animation-style2">
                        <div class="sec-title__tagline">
                            <div class="line"></div>
                            <div class="text tg-element-title">
                                <h4>Firmamız</h4>
                            </div>
                            <div class="icon">
                                <span class="icon-plane2 float-bob-x3"></span>
                            </div>
                        </div>
                        <h2 class="sec-title__title tg-element-title">
                            Profesyonel Çalışmamız İle <br>
                            <span>
                                Kaliteli
                                Hizmet
                            </span>
                        </h2>
                    </div>

                    <div class="about-one__content-text1">
                        <p>
                            Hadımköy Ankara Nakliyat, Ankara ve çevresinde uzun yıllardır kaliteli hizmet sunan, müşteri memnuniyetini ön planda tutan, güvenilir ve profesyonel bir nakliyat firmasıdır. Evden eve taşımacılık, ofis taşımacılığı, parça eşya taşıma gibi birçok alanda deneyimli kadrosu ve modern araç filosuyla, eşyalarınızı titizlikle ve zamanında taşıyarak sorunsuz bir taşınma süreci yaşamanızı sağlar. Uygun fiyat politikası, sigortalı taşıma imkânı ve güler yüzlü hizmet anlayışıyla Hadımköy Ankara Nakliyat, nakliye ihtiyaçlarınızda daima yanınızda.
                        </p>
                    </div>

                    <div class="about-one__content-text2">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="about-one__content-text2-single">
                                    <div class="about-one__content-text2-single-top">
                                        <div class="icon">
                                            <span class="icon-worldwide-shipping-1"></span>
                                        </div>

                                        <div class="title-box">
                                            <h3>Şehirlerarası Hizmet</h3>
                                        </div>
                                    </div>

                                    <p>Türkiyenin 81 iline tizit ve profesyonel hizmetlerle.</p>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="about-one__content-text2-single">
                                    <div class="about-one__content-text2-single-top">
                                        <div class="icon">
                                            <span class="icon-24-hours-service"></span>
                                        </div>

                                        <div class="title-box">
                                            <h3>7/24 Online Destek</h3>
                                        </div>
                                    </div>

                                    <p>Firmamız müşterilerine daima 7/24 ve her an ulaşılabilir hizmet vermekte.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="about-one__content-bottom">
                        <div class="btn-box">
                            <a class="thm-btn" href="/Home/İletisim">
                                Bize Ulaşın
                                <i class="icon-right-arrow21"></i>
                                <span class="hover-btn hover-bx"></span>
                                <span class="hover-btn hover-bx2"></span>
                                <span class="hover-btn hover-bx3"></span>
                                <span class="hover-btn hover-bx4"></span>
                            </a>
                        </div>

                        <div class="contact-box">
                            <div class="icon">
                                <span class="icon-phone2"></span>
                            </div>

                            <div class="text-box">
                                <p>Bizleri Arayın</p>
                                <h4><a href="tel:05325436837">+90 532 543 68 37 </a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End About One Content-->
            <!--Start About One Img-->
            <div class="col-xl-5">
                <div class="about-one__img">
                    <div class="shape1 float-bob-y">
                        <img src="~/assets/images/shapes/about-v1-shape1.png" alt="">
                    </div>
                    <div class="shape2 float-bob-y">
                        <img src="~/assets/images/shapes/about-v1-shape2.png" alt="">
                    </div>
                    <div class="about-one__img1 reveal">
                        <img src="~/assets/images/gallery/tir_gorseli_395x300_HAN.png" alt="">
                    </div>

                    <div class="about-one__img2">
                        <div class="about-one__img2-inner reveal">
                            <img src="~/assets/images/gallery/nakliyat_260x330_HAN.png" alt="">
                        </div>

                        <div class="about-one__circle-text">
                            <div class="about-one__round-text-box">
                                <div class="inner">
                                    <div class="about-one__curved-circle rotate-me">
                                       2014 Yılından Bu Zamana Dek Hizmetinizde
                                    </div>
                                </div>
                                <div class="overlay-icon-box">
                                    <a href="#"><i class="icon-location1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="shape3 float-bob-y">
                            <img src="~/assets/images/shapes/about-v1-shape3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--End About One Img-->
        </div>
    </div>
</section>
<!--End About One-->
<!--Start Service One-->
<section class="service-one">
    <div class="service-one__pattern"
         style="background-image: url(assets/images/pattern/service-v1-pattern.jpg);"></div>
    <div class="container">
        <div class="sec-title center text-center tg-heading-subheading animation-style2">
            <div class="sec-title__tagline">
                <div class="line"></div>
                <div class="text tg-element-title">
                    <h4>Our Service</h4>
                </div>
                <div class="icon">
                    <span class="icon-plane2 float-bob-x3"></span>
                </div>
            </div>
            <h2 class="sec-title__title tg-element-title">
                Provide Efficient Logistics
                <br> Solutions <span>Business</span>
            </h2>
        </div>

        <div class="row">
            <div class="service-one__carousel owl-carousel owl-theme owl-dot-style1">

                <!--Start Service One Single-->
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img1.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">International Shipping</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-delivery-man"></span>
                    </div>
                </div>
                <!--End Service One Single-->
                <!--Start Service One Single-->
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img2.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">Ocean Freight</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
                <!--End Service One Single-->
                <!--Start Service One Single-->
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img3.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">Rail Freight</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-international-shipping"></span>
                    </div>
                </div>
                <!--End Service One Single-->
                <!--Start Service One Single-->
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img1.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">International Shipping</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-delivery-man"></span>
                    </div>
                </div>
                <!--End Service One Single-->
                <!--Start Service One Single-->
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img2.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">Ocean Freight</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
                <!--End Service One Single-->
                <!--Start Service One Single-->
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img3.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">Rail Freight</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-international-shipping"></span>
                    </div>
                </div>
                <!--End Service One Single-->
                <!--Start Service One Single-->
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img1.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">International Shipping</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-delivery-man"></span>
                    </div>
                </div>
                <!--End Service One Single-->
                <!--Start Service One Single-->
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img2.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">Ocean Freight</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
                <!--End Service One Single-->
                <!--Start Service One Single-->
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/services/services-v1-img3.jpg" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="international-transport.html">Rail Freight</a></h2>
                            <p>
                                A logistic service provider company plays
                                a pivotal role in the global supply chain logistic service.
                            </p>
                            <div class="btn-box">
                                <a href="international-transport.html">
                                    Read More <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-international-shipping"></span>
                    </div>
                </div>
                <!--End Service One Single-->
            </div>
        </div>
    </div>
</section>
<!--End Service One-->
<!--Start Project One-->
<section class="project-one">
    <div class="container">
        <div class="row">
            <!--Start Project One Single-->
            <div class="col-xl-5 col-lg-5 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="project-one__title">
                    <div class="sec-title tg-heading-subheading animation-style2">
                        <div class="sec-title__tagline">
                            <div class="line"></div>
                            <div class="text tg-element-title">
                                <h4>Latest Project</h4>
                            </div>
                            <div class="icon">
                                <span class="icon-plane2 float-bob-x3"></span>
                            </div>
                        </div>
                        <h2 class="sec-title__title tg-element-title">
                            The Achievement <br>
                            of Our <span>Project</span>
                        </h2>
                    </div>

                    <div class="btn-box">
                        <a class="thm-btn" href="project.html">
                            See All Project
                            <i class="icon-right-arrow21"></i>
                            <span class="hover-btn hover-bx"></span>
                            <span class="hover-btn hover-bx2"></span>
                            <span class="hover-btn hover-bx3"></span>
                            <span class="hover-btn hover-bx4"></span>
                        </a>
                    </div>

                </div>
            </div>
            <!--End Project One Single-->
            <!--Start Project One Single-->
            <div class="col-xl-7 col-lg-7 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="project-one__single">
                    <div class="project-one__single-img">
                        <div class="inner">
                            <img src="~/assets/images/project/project-v1-img1.jpg" alt="#">
                            <div class="project-one__overlay-content">
                                <div class="text-box">
                                    <p>Logistic</p>
                                    <h2><a href="project-details.html">Warehouse Inventory </a></h2>
                                </div>

                                <div class="icon">
                                    <a href="project-details.html"><span class="icon-right-arrow21"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Project One Single-->
            <!--Start Project One Single-->
            <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="project-one__single">
                    <div class="project-one__single-img">
                        <div class="inner">
                            <img src="~/assets/images/project/project-v1-img2.jpg" alt="#">
                            <div class="project-one__overlay-content">
                                <div class="text-box">
                                    <p>Logistic</p>
                                    <h2><a href="project-details.html">Warehouse Inventory </a></h2>
                                </div>

                                <div class="icon">
                                    <a href="project-details.html"><span class="icon-right-arrow21"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Project One Single-->
            <!--Start Project One Single-->
            <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="project-one__single">
                    <div class="project-one__single-img">
                        <div class="inner">
                            <img src="~/assets/images/project/project-v1-img3.jpg" alt="#">
                            <div class="project-one__overlay-content">
                                <div class="text-box">
                                    <p>Logistic</p>
                                    <h2><a href="project-details.html">Warehouse Inventory </a></h2>
                                </div>

                                <div class="icon">
                                    <a href="project-details.html"><span class="icon-right-arrow21"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Project One Single-->
            <!--Start Project One Single-->
            <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="project-one__single">
                    <div class="project-one__single-img">
                        <div class="inner">
                            <img src="~/assets/images/project/project-v1-img4.jpg" alt="#">
                            <div class="project-one__overlay-content">
                                <div class="text-box">
                                    <p>Logistic</p>
                                    <h2><a href="project-details.html">Warehouse Inventory </a></h2>
                                </div>

                                <div class="icon">
                                    <a href="project-details.html"><span class="icon-right-arrow21"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Project One Single-->
        </div>
    </div>
</section>
<!--End Project One-->
<!--Start Skill One-->
<section class="skill-one">
    <div class="container">
        <div class="row">
            <!--Start Skill One Img-->
            <div class="col-xl-5">
                <div class="skill-one__img">
                    <div class="shape1 float-bob-y">
                        <img src="ü/assets/images/shapes/skill-v1-shape1.png" alt="">
                    </div>
                    <div class="shape2 float-bob-y">
                        <img src="~/assets/images/shapes/skill-v1-shape2.png" alt="">
                    </div>
                    <div class="skill-one__img1 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <img src="~/assets/images/gallery/Hadimkoy_Ankara_Nakliyat_450x500_.png" alt="">
                    </div>
                    <div class="skill-one__img2 wow fadeInRight" data-wow-delay="0ms"
                         data-wow-duration="1500ms">
                        <div class="inner">
                            <img src="~/assets/images/gallery/hadimkoy_ankara_nakliyat_325x380.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--End Skill One Img-->
            <!--Start Skill One Content-->
            <div class="col-xl-7">
                <div class="skill-one__content">
                    <div class="sec-title tg-heading-subheading animation-style2">
                        <div class="sec-title__tagline">
                            <div class="line"></div>
                            <div class="text tg-element-title">
                                <h4>Şehirlerarası Nakliyat</h4>
                            </div>
                            <div class="icon">
                                <span class="icon-plane2 float-bob-x3"></span>
                            </div>
                        </div>
                        <h2 class="sec-title__title tg-element-title">
                            Şehirlerarası Nakliyat'da <br>Sık Sık Tercih
                            <span>Ediliyoruz</span>
                        </h2>
                    </div>

                    <div class="skill-one__content-text">
                        <p>
                            A logistic service provider company plays a pivotal role in the global supply chain
                            ecosystem by efficiently managing the movement of goods from point of origin to
                            final destination. These companies offer a diverse range.
                        </p>
                    </div>

                    <ul class="skill-one__progress">
                        <li>
                            <div class="skill-one__progress-single">
                                <div class="title-box">
                                    <p>Tercih Edilme</p>
                                </div>

                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="90%">
                                        <div class="count-text">90%</div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="skill-one__progress-single">
                                <div class="title-box">
                                    <p>Müşteri Memnunuyeti</p>
                                </div>

                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="99%">
                                        <div class="count-text">99%</div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="skill-one__progress-single">
                                <div class="title-box">
                                    <p>Başarılı Nakliyat</p>
                                </div>

                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="100%">
                                        <div class="count-text">100%</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="skill-one__content-btn">
                        <a class="thm-btn" href="/Home/İletisim">
                            Bizlerle İletişime Geçin
                            <i class="icon-right-arrow21"></i>
                            <span class="hover-btn hover-bx"></span>
                            <span class="hover-btn hover-bx2"></span>
                            <span class="hover-btn hover-bx3"></span>
                            <span class="hover-btn hover-bx4"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--End Skill One Content-->
        </div>
    </div>
</section>
<!--End Skill One-->
<!--Start Testimonial One-->
<section class="testimonial-one">
    <div class="testimonial-one__pattern"
         style="background-image: url(/assets/images/pattern/testimonial-v1-pattern.png);"></div>
    <div class="container">
        <div class="row">
            <!--Start Testimonial One Content-->
            <div class="col-xl-6">
                <div class="testimonial-one__content">
                    <div class="big-title">
                        <h2>Müşterilerimiz</h2>
                    </div>
                    <div class="sec-title tg-heading-subheading animation-style2">
                        <div class="sec-title__tagline">
                            <div class="line"></div>
                            <div class="text tg-element-title">
                                <h4>Müşterilerimizin Yorumları</h4>
                            </div>
                            <div class="icon">
                                <span class="icon-plane2 float-bob-x3"></span>
                            </div>
                        </div>
                        <h2 class="sec-title__title tg-element-title">
                            Bizleri tercih eden değerli <br>
                            <span>müşteri yorumları</span>
                        </h2>
                    </div>
                    <div class="testimonial-one__carousel owl-carousel owl-theme">
                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Ece Yalçın</h2>
                                        <div class="bottom-text">
                                            <p>İstanbul → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>İstanbul’dan Ankara’ya evimizi Hadımköy Ankara Nakliyat ile taşıttık. Şehirler arası evden eve nakliyat, sigortalı taşıma ve asansörlü hizmetleri ile eşyalarımız sorunsuz ulaştı. Gerçekten profesyonel ve güvenilir nakliyat firması.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Yunus Kaya</h2>
                                        <div class="bottom-text">
                                            <p>İzmir → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>İzmir’den Ankara’ya taşınırken Hadımköy Ankara Nakliyat’ın şehirler arası nakliyat, sigortalı taşıma ve uygun fiyat avantajı sayesinde gönül rahatlığıyla evimizi taşıdık. Herkese tavsiye ediyorum, iletişimleri çok iyiydi.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Burcu Polat</h2>
                                        <div class="bottom-text">
                                            <p>Ankara → İstanbul</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>Ankara’dan İstanbul’a taşınmamızda Hadımköy Ankara Nakliyat’ın evden eve nakliyat hizmeti, asansörlü taşıma ve güvenilir ekip desteği ile hiç sorun yaşamadık. Tüm eşyalarımız eksiksiz ve hızlı şekilde ulaştı.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Kerem Öz</h2>
                                        <div class="bottom-text">
                                            <p>Ankara → İzmir</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>Ankara’dan İzmir’e şehirler arası nakliyat hizmeti almak istedik. Hadımköy Ankara Nakliyat hem sigortalı taşımacılık hem de ambalaj konusunda çok titiz çalıştı. Tavsiye ederim.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Serap Demir</h2>
                                        <div class="bottom-text">
                                            <p>Eskişehir → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>Evimi Eskişehir’den Ankara’ya Hadımköy Ankara Nakliyat ile taşıdım. Şehirlerarası taşımacılıkta güven, zamanında teslimat ve uygun fiyat konusunda beklentimin çok üzerinde bir hizmet aldım.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Volkan Ekinci</h2>
                                        <div class="bottom-text">
                                            <p>Bursa → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>Bursa’dan Ankara’ya ev taşıma işlerimizde asansörlü taşımacılık ve sigortalı nakliyat hizmeti aldık. Hadımköy Ankara Nakliyat ile eşyalarımız sorunsuz ulaştı. Tam anlamıyla profesyonel ekip.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Canan Solak</h2>
                                        <div class="bottom-text">
                                            <p>Antalya → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>Antalya’dan Ankara’ya taşındık, Hadımköy Ankara Nakliyat’ın evden eve nakliyat ve şehirler arası taşımacılık çözümleri gerçekten çok kaliteli. Paketleme ve teslimat çok hızlıydı.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Özgür Akman</h2>
                                        <div class="bottom-text">
                                            <p>İzmir → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>İzmir’den Ankara’ya Hadımköy Ankara Nakliyat ile taşındık. Sigortalı taşımacılık, parsiyel nakliyat ve müşteri memnuniyeti açısından dört dörtlük hizmet. Gözünüz kapalı güvenebilirsiniz.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Erkan Polat</h2>
                                        <div class="bottom-text">
                                            <p>İstanbul → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>İstanbul’dan Ankara’ya parça eşya taşımacılığında Hadımköy Ankara Nakliyat’ın parsiyel nakliyat hizmeti çok uygun fiyatlı ve zamanında gerçekleşti. Eşyalarım sağlam ve eksiksiz teslim edildi.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Funda Güler</h2>
                                        <div class="bottom-text">
                                            <p>Bursa → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>Bursa’dan Ankara’ya taşınırken Hadımköy Ankara Nakliyat’ın asansörlü taşıma, sigortalı nakliyat ve uygun fiyat avantajı ile mükemmel bir hizmet aldık. Herkese tavsiye ederim.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Ömer Kıran</h2>
                                        <div class="bottom-text">
                                            <p>İstanbul → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>İstanbul’dan Ankara’ya şehirler arası nakliyat hizmeti aldım. Paketleme ve taşıma konusunda bu kadar titiz başka firma görmedim. Eşyalar eksiksiz ve hızlı geldi.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Deniz Aydın</h2>
                                        <div class="bottom-text">
                                            <p>Ankara → İstanbul</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>Ankara’dan İstanbul’a sigortalı taşımacılık hizmeti aldık. Hadımköy Ankara Nakliyat’ın güvenli paketlemesi sayesinde mobilyalarımızda en ufak hasar olmadı. Hizmet kalitesi çok yüksek.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Banu Kurt</h2>
                                        <div class="bottom-text">
                                            <p>İstanbul → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>İstanbul’dan Ankara’ya taşınırken hem parsiyel nakliyat hem de sigortalı taşıma hizmetinden çok memnun kaldık. Eşyalarımız zamanında ve eksiksiz ulaştı.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>İlker Aksoy</h2>
                                        <div class="bottom-text">
                                            <p>İstanbul → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>İstanbul’dan Ankara’ya ev taşıdık, asansörlü taşımacılık sayesinde taşınma süreci çok hızlı ve kolay oldu. Hadımköy Ankara Nakliyat’ı güvenle tercih edebilirsiniz.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Melis Dede</h2>
                                        <div class="bottom-text">
                                            <p>İstanbul → Ankara</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>İstanbul’dan Ankara’ya şehirlerarası nakliyat için Hadımköy Ankara Nakliyat’ı seçtik. Ambalajlama, taşıma ve teslimat süreci çok iyi yönetildi. Son derece memnunuz.</p>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-one__single">
                            <div class="icon"><span class="icon-quote1"></span></div>
                            <div class="testimonial-one__single-inner">
                                <div class="shape1"><img src="~/assets/images/shapes/testimonial-v1-shape1.png" alt=""></div>
                                <div class="author-box">
                                    <div class="img-box"><img src="~/assets/images/gallery/icon_80x80.png" alt=""></div>
                                    <div class="author-info">
                                        <h2>Gökhan Sarı</h2>
                                        <div class="bottom-text">
                                            <p>Ankara → İstanbul</p>
                                            <div class="rating-box"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <p>Ankara’dan İstanbul’a ev taşımacılığında Hadımköy Ankara Nakliyat’ın profesyonelliği, zamanında teslim ve fiyat avantajı sayesinde taşınmak hiç bu kadar kolay olmamıştı. Şiddetle öneriyorum.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End Testimonial One Content-->
            <!--Start Testimonial One Img-->
            <div class="col-xl-6">
                <div class="testimonial-one__img">
                    <div class="testimonial-one__img1 reveal">
                        <img src="~/assets/images/gallery/HAN_Testimonial.png" alt="">
                    </div>

                    <div class="testimonial-one__img-author">
                        <ul>
                            <li>
                                <div class="img-box">
                                    <img src="~/assets/images/gallery/icon_50x50.png" alt="#">
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="~/assets/images/gallery/icon_50x50.png" alt="#">
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="~/assets/images/gallery/icon_50x50.png" alt="#">
                                </div>
                            </li>
                        </ul>

                        <div class="text-box">
                            <h2>Müşteri Yorumları</h2>
                            <p>4.8 (2k görüntülenme)</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Testimonial One Img-->
        </div>
    </div>
</section>
<!--End Testimonial One-->
<!--Start Faq One-->
<section class="faq-one">
    <div class="shape1 float-bob-x"><img src="~/assets/images/shapes/faq-v1-shape1.png" alt=""></div>
    <div class="container">
        <div class="row">
            <!--Start Faq One Content-->
            <div class="col-xl-6">
                <div class="faq-one__content">
                    <div class="faq-one__content-faq">
                        <div class="sec-title tg-heading-subheading animation-style2">
                            <div class="sec-title__tagline">
                                <div class="line"></div>
                                <div class="text tg-element-title">
                                    <h4>Sıkça Sorular Sorular</h4>
                                </div>
                                <div class="icon">
                                    <span class="icon-plane2 float-bob-x3"></span>
                                </div>
                            </div>
                            <h2 class="sec-title__title tg-element-title">
                                İşlerimizi yürütürken <br>
                                SSS <span>Nelerdir?</span>
                            </h2>
                        </div>

                        <div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion-1">
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Hadımköy Ankara Nakliyat İstanbul-Ankara arası şehirlerarası nakliyat hizmetini nasıl gerçekleştiriyor?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            Hadımköy Ankara Nakliyat, İstanbul ile Ankara arasındaki şehirlerarası nakliyat hizmetini planlı, güvenli ve hızlı bir şekilde gerçekleştirmektedir. İstanbul-Ankara arasındaki uzun mesafe taşımacılıkta uzmanlaşmış firmamız, süreç boyunca her detayı titizlikle yönetir ve ağır mobilyalardan hassas elektroniklere kadar her türlü eşyayı güvenle taşır. Deneyimli nakliyat ekibimiz, taşınma öncesi eşyalarınızı inceleyerek ideal taşıma planını oluşturur. Eşyalarınız evden eve nakliyat standartlarında özenle paketlenir ve şehirlerarası yolculuğa uygun, bakımlı nakliye araçlarına dikkatlice yüklenir. Firmamız, uzun mesafeli taşımacılıkta eşyaların güvenliğini ön planda tutarak gerekirse asansörlü taşıma ve sigortalı nakliyat imkânı da sunmaktadır. Profesyonel şoförlerimiz, İstanbul-Ankara güzergâhına hâkim olup eşyalarınızı kararlaştırılan zamanda yeni adresine ulaştırır. Hadımköy Ankara Nakliyat’ın şehirlerarası nakliyat hizmeti, müşterilerine süreç boyunca şeffaf iletişim, güven ve kalite sağlayarak sorunsuz bir taşıma deneyimi sunar.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>Evden eve nakliyatta Hadımköy Ankara Nakliyat nasıl bir hizmet sunuyor?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            Hadımköy Ankara Nakliyat evden eve nakliyat hizmetinde eşyalarınızın paketlenmesinden yeni evinizdeki kuruluma kadar tüm süreci profesyonelce yönetir. Taşınma öncesi uzman ekibimiz, eşya sayısı ve niteliğini belirleyerek planlama yapar. Mobilyalarınız demonte edilip balonlu naylon gibi malzemelerle özenle sarılır; beyaz eşyalar ve kırılacak eşyalar güvenli ambalajlarla paketlenir. Eşyalarınız gerekirse asansörlü nakliyat sistemi kullanılarak dikkatlice araca yüklenir. Kapalı kasa nakliye araçlarımız, eşyalarınızı şehirlerarası yolda bile korunaklı bir şekilde taşır. Varış noktasında talebinize göre mobilyalarınızın montajı ve eşyaların yerleştirilmesi yapılarak tam bir hizmet sunulur. Planlı çalışma sayesinde taşınmanız söz verilen sürede tamamlanır ve eşyalarınız taşıma boyunca sigorta güvencesi altındadır. Hadımköy Ankara Nakliyat, evden eve nakliyatta güvenilir, hızlı ve müşteri odaklı çalışarak size stressiz bir taşınma deneyimi yaşatır.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Hadımköy Ankara Nakliyat ofis taşımacılığında ne gibi avantajlar sunar?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            Hadımköy Ankara Nakliyat, ofis taşımacılığında, ister şehir içi ister şehirlerarası olsun, işletmelere çeşitli avantajlar sunar. Öncelikle, taşınma sürecini titizlikle planlayarak iş akışınızda minimum kesinti olmasını sağlar. Taşınma işlemi mümkün olduğunca mesai saatleri dışında veya hafta sonu gerçekleştirilerek firma faaliyetlerinin aksamaması hedeflenir. Deneyimli ekibimiz, ofis mobilyalarını ve elektronik eşyaları (bilgisayar, yazıcı, sunucu gibi) özenle demonte edip paketler, yeni ofiste tekrar kurulumunu yapar. Evraklar ve dosyalar numaralandırılıp düzenli şekilde taşındığı için yeni yerinde hızlıca yerleştirilir. Firma, taşınma esnasında gizlilik ve güvenlik kurallarına azami özen göstererek kritik evrakları ve hassas ekipmanları korur. Hadımköy Ankara Nakliyat, kurumsal taşımacılık tecrübesi ve sigortalı nakliyat hizmetiyle firmanıza güvenilir ve sorunsuz bir ofis taşıma deneyimi sunar.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Hadımköy Ankara Nakliyat fuar taşımacılığı ve ambar nakliyat alanlarında da hizmet veriyor mu?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            Evet, Hadımköy Ankara Nakliyat fuar taşımacılığı ve ambar nakliyat alanlarında da profesyonel hizmet sunmaktadır. Fuar taşımacılığında, fuar standı malzemeleriniz, ürünleriniz ve tanıtım ekipmanlarınız fuar takvimine uygun olarak hasarsız ve zamanında taşınır. Firmamız, fuar alanındaki kurulum saatlerine riayet ederek tüm eşyalarınızı tam vaktinde ve eksiksiz şekilde teslim eder. Firmamız, ambar nakliyat (parça eşya taşımacılığı) hizmetiyle küçük ölçekli yük ve eşyalarınızı uygun maliyetle İstanbul-Ankara arasında taşır. Bu hizmette, farklı müşterilerin parça yükleri aynı araçla sevk edilerek şehirlerarası nakliyat maliyeti çok daha ekonomik hale getirilir. Ambar taşımacılığında da firmamız eşyaları güvenli şekilde ambalajlayıp belirlenen sürelerde kapıdan kapıya teslim ederek müşterilerine hem tasarruflu hem de güvenilir bir nakliyat çözümü sunar. Böylece evden eve nakliyat ve ofis taşımacılığının yanı sıra fuar taşımacılığı ile parça eşya nakliyatı ihtiyaçlarınızda da Hadımköy Ankara Nakliyat tek çözüm ortağınız olur.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Faq One Content-->
            <!--Start Faq One Img-->
            <div class="col-xl-6">
                <div class="faq-one__img">
                    <div class="faq-one__img-box">
                        <img src="~/assets/images/gallery/HAN_SSS.png" alt="">

                        <div class="faq-one__video-link">
                            <a href="https://www.youtube.com/watch?v=aOnntWnHHfE" class="video-popup">
                                <div class="faq-one__video-icon">
                                    <span class="icon-video"></span>
                                    <i class="ripple"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Faq One Img-->
        </div>
    </div>

    <!--Start Sliding Text One-->
    <div class="sliding-text-one">
        <div class="sliding-text-one__wrap">
            <ul class="sliding-text__list list-unstyled marquee_mode">
                <li>
                    <h2 data-hover="Evden eve Nakliyat" class="sliding-text__title">
                        Evden eve Nakliyat
                        <img src="~/assets/images/icon/sliding-text-icon-1.png" alt="">
                    </h2>
                </li>
                <li>
                    <h2 data-hover="Şehirlerarası Nakliyat" class="sliding-text__title">
                        Şehirlerarası Nakliyat
                        <img src="~/assets/images/icon/sliding-text-icon-1.png" alt="">
                    </h2>
                </li>
                <li>
                    <h2 data-hover="Fuar taşımacılığı" class="sliding-text__title">
                        Fuar taşımacılığı
                        <img src="~/assets/images/icon/sliding-text-icon-1.png" alt="">
                    </h2>
                </li>
                <li>
                    <h2 data-hover="Ambar Nakliyat" class="sliding-text__title">
                        Ambar Nakliyat
                        <img src="~/assets/images/icon/sliding-text-icon-1.png" alt="">
                    </h2>
                </li>
                <li>
                    <h2 data-hover="Ofis Taşımacılığı" class="sliding-text__title">
                        Ofis Taşımacılığı
                        <img src="~/assets/images/icon/sliding-text-icon-1.png" alt="">
                    </h2>
                </li>
            </ul>
        </div>
    </div>
    <!--End Sliding Text One-->
</section>
<!--End Faq One-->
<!--Start Cta One-->
<section class="cta-one">
    <div class="container">
        <div class="cta-one__inner">
            <div class="cta-one__img wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <img src="~/assets/images/gallery/hadimkoy_ankara_416x478.png" alt="">
            </div>
            <div class="cta-one__pattern"><img src="~/assets/images/pattern/cta-v1-pattern.png" alt=""></div>
            <div class="shape1 float-bob-x"><img src="~/assets/images/shapes/cta-v1-shape1.png" alt=""></div>
            <div class="shape2"><img src="~/assets/images/shapes/cta-v1-shape2.png" alt=""></div>
            <div class="shape3"><img src="~/assets/images/shapes/cta-v1-shape3.png" alt=""></div>
            <div class="cta-one__content">
                <h2>Türkiyenin en iyi <br> nakliyat firması olarak <span>tanındık!</span></h2>
                <p>
                   Müşteri memnuniyetine dayalı  hizmetten yararlanabilmek için <br>
                    Bizlerle iletişime geçin.
                </p>
                <div class="btn-box">
                    <a class="thm-btn" href="/Home/İletisim">
                        İletişime Geç
                        <i class="icon-right-arrow21"></i>
                        <span class="hover-btn hover-bx"></span>
                        <span class="hover-btn hover-bx2"></span>
                        <span class="hover-btn hover-bx3"></span>
                        <span class="hover-btn hover-bx4"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Cta One-->
<!--Start Counter One-->
<section class="counter-one">
    <div class="container">
        <div class="row">
            <!--Start Counter One Single-->
            <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="counter-one__single">
                    <div class="counter-one__single-inner">
                        <div class="icon">
                            <span class="icon-box"></span>
                        </div>

                        <div class="content-box">
                            <div class="count-text-box count-box">
                                <h3 class="count-text" data-stop="50" data-speed="1500">00</h3>
                                <span class="plus">+</span>
                            </div>
                            <div class="text-box">
                                <p>Dağıtım Eleman Sayısı</p>
                            </div>
                        </div>
                    </div>
                    <div class="shape1"></div>
                </div>
            </div>
            <!--End Counter One Single-->
            <!--Start Counter One Single-->
            <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="counter-one__single">
                    <div class="counter-one__single-inner">
                        <div class="icon">
                            <span class="icon-location"></span>
                        </div>

                        <div class="content-box">
                            <div class="count-text-box count-box">
                                <h3 class="count-text" data-stop="566" data-speed="1500">00</h3>
                                <span class="plus">+</span>
                            </div>
                            <div class="text-box">
                                <p>İlçeye Erişim</p>
                            </div>
                        </div>
                    </div>
                    <div class="shape1"></div>
                </div>
            </div>
            <!--End Counter One Single-->
            <!--Start Counter One Single-->
            <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="counter-one__single">
                    <div class="counter-one__single-inner">
                        <div class="icon">
                            <span class="icon-customer-loyalty"></span>
                        </div>

                        <div class="content-box">
                            <div class="count-text-box count-box">
                                <h3 class="count-text" data-stop="11" data-speed="1500">00</h3>
                                <span class="plus">+</span>
                            </div>
                            <div class="text-box">
                                <p>Yıllık Deneyim</p>
                            </div>
                        </div>
                    </div>
                    <div class="shape1"></div>
                </div>
            </div>
            <!--End Counter One Single-->
        </div>
    </div>
</section>
<!--End Counter One-->
<!--Start Features Two-->
<section class="features-two">
    <div class="features-two__top">
        <div class="container">
            <div class="features-two__top-inner">
                <div class="sec-title tg-heading-subheading animation-style2">
                    <div class="sec-title__tagline">
                        <div class="line"></div>
                        <div class="text tg-element-title">
                            <h4>Fleet Management</h4>
                        </div>
                        <div class="icon">
                            <span class="icon-plane2 float-bob-x3"></span>
                        </div>
                    </div>
                    <h2 class="sec-title__title tg-element-title">
                        Trustworthy, Swift, and Safe <br> Logistics
                        <span>Options</span>
                    </h2>
                </div>

                <div class="btn-box">
                    <a class="thm-btn" href="about.html">
                        Our Solutions
                        <i class="icon-right-arrow21"></i>
                        <span class="hover-btn hover-bx"></span>
                        <span class="hover-btn hover-bx2"></span>
                        <span class="hover-btn hover-bx3"></span>
                        <span class="hover-btn hover-bx4"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="features-two__carousel owl-carousel owl-theme">
            <!--Start Features Two Single-->
            <div class="features-two__single">
                <div class="features-two__single-img">
                    <div class="features-two__single-img-inner">
                        <img src="~/assets/images/resources/features-v2-img1.jpg" alt="">

                        <div class="features-two__single-content">
                            <span>Fast & Efficient</span>
                            <h2><a href="#">Aviation Freight</a></h2>

                            <div class="features-two__single-content-bottom">
                                <p>
                                    It is a long established fact that a reader will be distracted by the
                                    readable...
                                </p>

                                <div class="btn-box">
                                    <a href="#"><span class="icon-right-arrow21"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--End Features Two Single-->
            <!--Start Features Two Single-->
            <div class="features-two__single">
                <div class="features-two__single-img">
                    <div class="features-two__single-img-inner">
                        <img src="~/assets/images/resources/features-v2-img2.jpg" alt="">

                        <div class="features-two__single-content">
                            <span>Cost-effective</span>
                            <h2><a href="#">Rail Freight</a></h2>

                            <div class="features-two__single-content-bottom">
                                <p>
                                    It is a long established fact that a reader will be distracted by the
                                    readable...
                                </p>

                                <div class="btn-box">
                                    <a href="#"><span class="icon-right-arrow21"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--End Features Two Single-->
            <!--Start Features Two Single-->
            <div class="features-two__single">
                <div class="features-two__single-img">
                    <div class="features-two__single-img-inner">
                        <img src="~/assets/images/resources/features-v2-img3.jpg" alt="">

                        <div class="features-two__single-content">
                            <span>Sea Transport</span>
                            <h2><a href="#">Ocean Freight</a></h2>

                            <div class="features-two__single-content-bottom">
                                <p>
                                    It is a long established fact that a reader will be distracted by the
                                    readable...
                                </p>

                                <div class="btn-box">
                                    <a href="#"><span class="icon-right-arrow21"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--End Features Two Single-->
            <!--Start Features Two Single-->
            <div class="features-two__single">
                <div class="features-two__single-img">
                    <div class="features-two__single-img-inner">
                        <img src="~/assets/images/resources/features-v2-img4.jpg" alt="">

                        <div class="features-two__single-content">
                            <span>Trucks & Lorries</span>
                            <h2><a href="#">Roadway Cargo</a></h2>

                            <div class="features-two__single-content-bottom">
                                <p>
                                    It is a long established fact that a reader will be distracted by the
                                    readable...
                                </p>

                                <div class="btn-box">
                                    <a href="#"><span class="icon-right-arrow21"></span></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--End Features Two Single-->
        </div>
    </div>
</section>
<!--End Features Two-->
<!--Start Brand One-->
<section class="brand-one">
    <div class="container">
        <div class="brand-one__carousel owl-carousel owl-theme">
            <!--Start Brand One Single-->
            <div class="brand-one__single">
                <div class="brand-one__single-inner">
                    <a href="#"><img src="~/assets/images/gallery/han_alt_görsel2.png" alt=""></a>
                </div>
            </div>
            <!--End Brand One Single-->
            <!--Start Brand One Single-->
            <div class="brand-one__single">
                <div class="brand-one__single-inner">
                    <a href="#"><img src="~/assets/images/gallery/han_alt_görsel3.png" alt=""></a>
                </div>
            </div>
            <!--End Brand One Single-->
            <!--Start Brand One Single-->
            <div class="brand-one__single">
                <div class="brand-one__single-inner">
                    <a href="#"><img src="~/assets/images/gallery/8.png" alt=""></a>
                </div>
            </div>
            <!--End Brand One Single-->
            <!--Start Brand One Single-->
            <div class="brand-one__single">
                <div class="brand-one__single-inner">
                    <a href="#"><img src="~/assets/images/gallery/han_alt_görsel4.png" alt=""></a>
                </div>
            </div>
            <!--End Brand One Single-->
            <!--Start Brand One Single-->
            <div class="brand-one__single">
                <div class="brand-one__single-inner">
                    <a href="#"><img src="~/assets/images/gallery/han_alt_görsel5.png" alt=""></a>
                </div>
            </div>
            <!--End Brand One Single-->
            <!--Start Brand One Single-->
            <div class="brand-one__single">
                <div class="brand-one__single-inner">
                    <a href="#"><img src="~/assets/images/gallery/han_alt_görsel6.png" alt=""></a>
                </div>
            </div>
            <!--End Brand One Single-->
            <!--Start Brand One Single-->
            <div class="brand-one__single">
                <div class="brand-one__single-inner">
                    <a href="#"><img src="~/assets/images/gallery/han_alt_görsel7.png" alt=""></a>
                </div>
            </div>
            <!--End Brand One Single-->
            <!--Start Brand One Single-->
            <div class="brand-one__single">
                <div class="brand-one__single-inner">
                    <a href="#"><img src="~/assets/images/gallery/han_alt_görsel8.png" alt=""></a>
                </div>
            </div>
            <!--End Brand One Single-->
        </div>
    </div>
</section>
<!--End Brand One-->
