
@{
    ViewData["Title"] = "İstanbul_Ankara_Evden_Eve_Nakliyat";
}

<!--Start Page Header-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header__pattern"><img src="~/assets/images/pattern/page-header-pattern.png" alt=""></div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Safe Ocean Transport</h2>
            <ul class="thm-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><span class="icon-right-arrow21"></span></li>
                <li>Safe Ocean Transport</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Header-->
<!--Start Service Details-->
<section class="service-details">
    <div class="container">
        <div class="row">
            <!--Start Service Details Sidebar-->
            <div class="col-xl-4">
                <div class="service-details__sidebar">
                    <div class="service-details__sidebar-single">
                        <div class="title-box">
                            <h2>Our Service</h2>
                        </div>
                        <div class="service-details__sidebar-single-service">
                            <ul class="clearfix">
                                <li>
                                    <a href="international-transport.html">
                                        International Transport <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="track-transport.html">
                                        Local Track Transport <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="personal-delivery.html">
                                        Fast Personal Delivery <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a class="active" href="#">
                                        Safe Ocean Transport <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="warehouse-facility.html">
                                        Warehouse Facility <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="emergency-transport.html">
                                        Emergency Transport <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="service-details__sidebar-single">
                        <div class="title-box">
                            <h2>Download</h2>
                        </div>
                        <div class="service-details__sidebar-single-download">

                            <ul class="clearfix">
                                <li>
                                    <div class="content-box">
                                        <div class="icon">
                                            <span class="icon-pdf"></span>
                                        </div>
                                        <div class="text-box">
                                            <h2><a href="#">Pdf Download</a></h2>
                                            <p><a href="#">Download</a></p>
                                        </div>
                                    </div>

                                    <div class="btn-box">
                                        <a href="#"><span class="icon-download"></span></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="content-box">
                                        <div class="icon">
                                            <span class="icon-pdf"></span>
                                        </div>
                                        <div class="text-box">
                                            <h2><a href="#">Pdf Download</a></h2>
                                            <p><a href="#">Download</a></p>
                                        </div>
                                    </div>

                                    <div class="btn-box">
                                        <a href="#"><span class="icon-download"></span></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="content-box">
                                        <div class="icon">
                                            <span class="icon-pdf"></span>
                                        </div>
                                        <div class="text-box">
                                            <h2><a href="#">Pdf Download</a></h2>
                                            <p><a href="#">Download</a></p>
                                        </div>
                                    </div>

                                    <div class="btn-box">
                                        <a href="#"><span class="icon-download"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="service-details__sidebar-contact text-center">
                        <div class="service-details__sidebar-contact-img">
                            <div class="inner">
                                <img src="~/assets/images/resources/service-details-sidebar-img.png" alt="">
                            </div>
                        </div>

                        <div class="service-details__sidebar-contact-content">
                            <div class="icon">
                                <span class="icon-phone"></span>
                            </div>
                            <h2><a href="tel:1234567890">+880 123 456 789</a></h2>
                            <h3>
                                If You Need Any Help <br>
                                Contact With Us
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Service Details Sidebar-->
            <!--Start Service Details Content-->
            <div class="col-xl-8">
                <div class="service-details__content">
                    <div class="service-details__content-img1">
                        <div class="inner">
                            <img src="~/assets/images/services/service-details-img7.jpg" alt="#">
                        </div>
                    </div>

                    <div class="service-details__content-text1">
                        <h2>Safe Ocean Transport</h2>
                        <p>
                            As a premier international transport service provider, we specialize in seamlessly
                            connecting businesses and individuals with efficient and reliable transportation
                            solutions across borders. Whether it's shipping goods or facilitating the travel of
                            individuals.
                        </p>
                    </div>

                    <div class="service-details__content-text2">
                        <h2>Why You Choose This Effective Service</h2>
                        <p>
                            With a focus on safety, efficiency, and cost-effectiveness, we offer a range of
                            tailored services to meet the unique needs of our clients, from air and sea freight
                            to road transportation. Our dedicated team of professionals is committed to
                            delivering excellence at every stage of the journey, providing peace of mind and
                            ensuring that your cargo arrives at its destination securely and on schedule.
                            Entrust your international transport needs to us, and experience the difference of
                            our trusted and proven services.
                        </p>
                    </div>

                    <div class="service-details__content-img2">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-img">
                                    <img src="~/assets/images/services/service-details-img2.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-img">
                                    <img src="~/assets/images/services/service-details-img3.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <p>
                            This business idea leverages the growing demand for virtual experiences and the need
                            for professional support in navigating the virtual event landscape. It's a service
                            that can cater to businesses, organizations, and individuals looking to make their
                            virtual events stand out and be successful.
                        </p>
                    </div>

                    <div class="service-details__content-img3">
                        <img src="~/assets/images/services/service-details-img4.jpg" alt="">
                    </div>

                    <div class="service-details__faq">
                        <div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion-1">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>Is my technology allowed on tech?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>What types of cargo can your service handle?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>What Are the typical stages of a logistic project?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Is my technology allowed on tech?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion mb0">
                                <div class="accrodion-title">
                                    <h4>Can you assist with customs clearance procedures?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Service Details Content-->
        </div>
    </div>
</section>
<!--End Service Details-->

