
@{
    ViewData["Title"] = "İstanbul_Ankara_Evden_Eve_Nakliyat";
}

<!--Start Page Header-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(/assets/images/gallery/hadimkoy_hakkimizda.png)">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1 style="color: white; font-weight: bold;">İstanbul Ankara Evden Eve Nakliyat</h1>
            <ul class="thm-breadcrumb">
                <li><a href="/Home/Index">Ana Sayfa</a></li>
                <li><span class="icon-right-arrow21"></span></li>
                <li>İstanbul Ankara Evden Eve Nakliyat</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Header-->
<!--Start Service Details-->
<section class="service-details">
    <div class="container">
        <div class="row">
            <!--Start Service Details Sidebar-->
            <div class="col-xl-4">
                <div class="service-details__sidebar">
                    <div class="service-details__sidebar-single">
                        <div class="title-box">
                            <h2>Hizmetlerimiz</h2>
                        </div>
                        <div class="service-details__sidebar-single-service">
                            <ul class="clearfix">
                                <li>
                                    <a href="/Home/İstanbul_Ankara_Nakliyat">
                                        İstanbul Ankara Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/İstanbul_Ankara_Fuar_Nakliyat">
                                        İstanbul Ankara Fuar Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/İstanbul_Ankara_Kamyonet_Nakliyat">
                                        İstanbul Ankara Kamyonet Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/Hadimköy_Ankara_Nakliyat">
                                        Hadımköy Ankara Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/İstanbul_Ankara_Ambar_Nakliyat">
                                        İstanbul Ankara Ambar Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/İstanbul_Ankara_Parsiyel_Nakliyat">
                                        İstanbul Ankara Parsiyel Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="active" href="/Home/İstanbul_Ankara_Şehirlerarasi_Nakliyat">
                                        İstanbul Ankara Şehirlerarası Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>
                                <li>
                                    <a  href="/Home/İstanbul_Ankara_Ceyiz_Nakliyat">
                                        İstanbul Ankara Çeyiz Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="active" href="/Home/İstanbul_Ankara_Evden_Eve_Nakliyat">
                                        İstanbul Ankara Evden Eve Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="service-details__sidebar-contact text-center">
                        <div class="service-details__sidebar-contact-img">
                            <div class="inner">
                                <img src="~/assets/images/gallery/Hadimkoy_Ankara_Nakliyat_284x285.png" alt="">
                            </div>
                        </div>

                        <div class="service-details__sidebar-contact-content">
                            <div class="icon">
                                <span class="icon-phone"></span>
                            </div>
                            <h2><a href="tel:0532 543 68 37">+90 532 543 68 37</a></h2>
                            <h3>
                                Bizlerle İletişime Geçin <br>
                                Hizmetimizden Yararlanın
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Service Details Sidebar-->
            <!--Start Service Details Content-->
            <div class="col-xl-8">
                <div class="service-details__content">
                    <div class="service-details__content-img1">
                        <div class="inner">
                            <img src="~/assets/images/gallery/Hadimkoy_Ankara_Nakliyat_835x500.png" alt="#">
                        </div>
                    </div>

                    <div class="service-details__content-text1">
                        <h2>İstanbul Ankara Evden Eve Nakliyat</h2>
                        <p>
                            İstanbul’dan Ankara’ya ev taşımak, uzun mesafe nedeniyle titiz planlama ve profesyonel bir yaklaşım gerektirir. İstanbul Ankara evden eve nakliyat hizmetimiz ile eşyalarınızı eski evinizden yeni adresinize kadar eksiksiz ve güvenle taşıyoruz. Hadımköy Ankara Nakliyat’ın deneyimli evden eve nakliyat ekibi, taşınma sürecinin başından sonuna kadar yanınızda olarak tüm yükünüzü hafifletir. Taşınma öncesi yapılan ekspertiz ile eşyalarınızın miktarını belirliyor, ihtiyaca uygun boyutta aracı ve ekip sayısını planlıyoruz.

                            Ev içindeki mobilyalarınız ve beyaz eşyalarınız uzman personelimiz tarafından dikkatlice demonte edilir, ardından uygun ambalaj malzemeleri ile paketlenir. Örneğin dolaplar, karyolalar, masa ve sandalyeler sökülüp balonlu naylonlar ve battaniyelerle sarılarak çizilmelere karşı korunur. Mutfak gereçleri ile cam ve porselen gibi kırılabilir eşyalar ise özel mukavva kutular ve koruyucu malzemeler ile kolilenir. Tüm eşyalar, araç içine sabitlenerek yerleştirilir ve uzun yol boyunca sarsıntılardan etkilenmemesi için gerekli önlemler alınır.
                        </p>
                    </div>

                    <div class="service-details__content-text2">
                        <h3>Evden Eve Nakliyatta Montaj ve Sigortalı Teslim</h3>
                        <p>
                            Ankara’daki yeni evinize ulaşıldığında eşyalarınız dikkatlice indiriliyor ve talebiniz doğrultusunda istediğiniz odalara yerleştiriliyor. Mobilyalarınızın montajı tekrar yapılıyor ve tüm paketleme malzemeleri toplanarak eviniz size temiz bir şekilde teslim ediliyor. Evden eve nakliyat sürecimizin her aşaması sigortalı olduğundan, eşyalarınız olası hasar risklerine karşı koruma altındadır. Ayrıca yüksek katlı binalar için asansörlü nakliyat imkânımız da bulunmaktadır; bu sayede eşyalarınızı apartman merdivenlerinden taşırken oluşabilecek zararları önlüyoruz.
                        </p>
                    </div>

                    <div class="service-details__content-img2">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-img">
                                    <img src="~/assets/images/services/service-details-img2.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-img">
                                    <img src="~/assets/images/services/service-details-img3.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <p>
                            İstanbul Ankara evden eve nakliyat hizmetimizle taşınma stresinizi en aza indiriyor, profesyonel ekibimiz ve kaliteli ambalaj malzemelerimiz sayesinde yeni evinize sorunsuz bir başlangıç yapmanızı sağlıyoruz. Evinizi şehirler arasında güvenle taşımak için doğru adrestesiniz; Hadımköy Ankara Nakliyat ile hızlı, güvenilir ve konforlu bir taşınma deneyimi yaşayabilirsiniz. Hemen 0532 543 68 37 numaralı telefonu arayarak ücretsiz keşif ve fiyat teklifi talep edebilirsiniz. Müşteri temsilcilerimiz 7/24 sorularınızı yanıtlamak ve nakliyat planınızı oluşturmak için hazırdır.
                        </p>
                    </div>

                    <div class="service-details__content-img3">
                        <img src="~/assets/images/services/service-details-img4.jpg" alt="">
                    </div>

                    <div class="service-details__faq">
                        <div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion-1">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>Is my technology allowed on tech?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>What types of cargo can your service handle?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>What Are the typical stages of a logistic project?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Is my technology allowed on tech?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion mb0">
                                <div class="accrodion-title">
                                    <h4>Can you assist with customs clearance procedures?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Service Details Content-->
        </div>
    </div>
</section>
<!--End Service Details-->

