
@{
    ViewData["Title"] = "Ceyiz_Nakliyat";
}

<!--Start Page Header-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(/assets/images/gallery/hadimkoy_hakkimizda.png)">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1 style="color: white; font-weight: bold;">İstanbul Ankara Çeyiz Nakliyat</h1>
            <ul class="thm-breadcrumb">
                <li><a href="/Home/Index">Ana Sayfa</a></li>
                <li><span class="icon-right-arrow21"></span></li>
                <li>İstanbul Ankara Çeyiz Nakliyat</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Header-->
<!--Start Service Details-->
<section class="service-details">
    <div class="container">
        <div class="row">
            <!--Start Service Details Sidebar-->
            <div class="col-xl-4">
                <div class="service-details__sidebar">
                    <div class="service-details__sidebar-single">
                        <div class="title-box">
                            <h2>Hizmetlerimiz</h2>
                        </div>
                        <div class="service-details__sidebar-single-service">
                            <ul class="clearfix">
                                <li>
                                    <a href="/Home/İstanbul_Ankara_Nakliyat">
                                        İstanbul Ankara Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/İstanbul_Ankara_Fuar_Nakliyat">
                                        İstanbul Ankara Fuar Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/İstanbul_Ankara_Kamyonet_Nakliyat">
                                        İstanbul Ankara Kamyonet Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/Hadimköy_Ankara_Nakliyat">
                                        Hadımköy Ankara Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/İstanbul_Ankara_Ambar_Nakliyat">
                                        İstanbul Ankara Ambar Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/İstanbul_Ankara_Parsiyel_Nakliyat">
                                        İstanbul Ankara Parsiyel Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="active" href="/Home/İstanbul_Ankara_Şehirlerarasi_Nakliyat">
                                        İstanbul Ankara Şehirlerarası Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="active" href="/Home/İstanbul_Ankara_Ceyiz_Nakliyat">
                                        İstanbul Ankara Çeyiz Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/İstanbul_Ankara_Evden_Eve_Nakliyat">
                                        İstanbul Ankara Evden Eve Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="service-details__sidebar-contact text-center">
                        <div class="service-details__sidebar-contact-img">
                            <div class="inner">
                                <img src="~/assets/images/gallery/Hadimkoy_Ankara_Nakliyat_284x285.png" alt="">
                            </div>
                        </div>

                        <div class="service-details__sidebar-contact-content">
                            <div class="icon">
                                <span class="icon-phone"></span>
                            </div>
                            <h2><a href="tel:0532 543 68 37">+90 532 543 68 37</a></h2>
                            <h3>
                                Bizlerle İletişime Geçin <br>
                                Hizmetimizden Yararlanın
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Service Details Sidebar-->
            <!--Start Service Details Content-->
            <div class="col-xl-8">
                <div class="service-details__content">
                    <div class="service-details__content-img1">
                        <div class="inner">
                            <img src="~/assets/images/gallery/Hadimkoy_Ankara_Nakliyat_835x500.png" alt="#">
                        </div>
                    </div>

                    <div class="service-details__content-text1">
                        <h2>İstanbul Ankara Çeyiz Nakliyat</h2>
                        <p>
                            Çeyiz nakliyatı, yeni ev kuracak çiftlerin veya ailelerinin düğün öncesi hazırladıkları eşyaların güvenle taşınması açısından özel önem taşır. İstanbul Ankara çeyiz nakliyat hizmetimiz ile, çeyiz eşyalarınızı İstanbul’daki adresinizden alıp Ankara’daki yeni evinize özenle teslim ediyoruz. Mobilyalardan beyaz eşyalara, küçük ev aletlerinden dekoratif ürünlere kadar tüm çeyiz malzemelerinizi listeliyor, paketliyor ve güvenli biçimde taşıyoruz. Çeyizinizdeki her bir parça maddi değerinin yanı sıra manevi değere de sahip olduğundan, taşıma sürecinde ekstra hassasiyet gösteriyoruz.
                        </p>
                    </div>

                    <div class="service-details__content-text2">
                        <h3>Hassas Paketleme ve Zamanında Çeyiz Teslimatı</h3>
                        <p>
                            Hadımköy Ankara Nakliyat olarak çeyiz eşyalarının paketlenmesinde özellikle titiz davranıyoruz. Kırılacak eşyalar için balonlu naylon, tekstil ürünleri için temiz hurçlar, mobilyalar için ise koruyucu örtüler kullanıyoruz. Eşyalar araç içinde birbirine zarar vermeyecek şekilde istifleniyor ve yol boyunca sarsıntılardan etkilenmemesi için sabitleniyor. Çeyiz nakliyatında zamanlama da çok önemlidir; düğün veya yeni ev hazırlık takviminize uygun olarak teslimat gününü sizinle birlikte planlıyoruz. Belirlenen tarihte eşyalarınız Ankara’daki adrese tam vaktinde ulaştırılıp teslim edilir, böylece yeni evinize yerleşme süreciniz aksamaz.

                            İstanbul Ankara çeyiz nakliyat hizmetimizle, mutluluğa adım atarken eşyalarınızın güvenliğinden endişe etmenize gerek kalmaz. Deneyimli ekibimiz bu özel sürecin anlamının farkında olarak çalışır ve eşyalarınızı kendi ailemizin emaneti gibi özenle taşır. Az miktarda çeyiz eşyanız olsa bile, parsiyel taşımacılık imkânlarımız sayesinde onları da sorunsuz şekilde Ankara’ya ulaştırabiliyoruz.
                        </p>
                    </div>

                    <div class="service-details__content-img2">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-img">
                                    <img src="~/assets/images/services/service-details-img2.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-img">
                                    <img src="~/assets/images/services/service-details-img3.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <p>
                            Çeyiz eşyalarınızın şehirlerarası taşınmasını emin ellere bırakmak istiyorsanız Hadımköy Ankara Nakliyat sizin için doğru tercihtir. İstanbul ile Ankara arasında çeyiz taşımacılığı konusunda detaylı bilgi almak veya randevu oluşturmak için 0532 543 68 37 numaralı telefondan bize ulaşabilirsiniz. 7/24 hizmet veren hattımız üzerinden sorularınızı iletebilir, fiyat teklifi talebinde bulunabilirsiniz.
                        </p>
                    </div>

                    <div class="service-details__content-img3">
                        <img src="~/assets/images/services/service-details-img4.jpg" alt="">
                    </div>

                    <div class="service-details__faq">
                        <div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion-1">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>Is my technology allowed on tech?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>What types of cargo can your service handle?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>What Are the typical stages of a logistic project?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Is my technology allowed on tech?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion mb0">
                                <div class="accrodion-title">
                                    <h4>Can you assist with customs clearance procedures?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As a premier international transport service provider, we specialize
                                            in seamlessly connecting busines and individuals with efficient and
                                            reliable transportation solutions across borders. Whether it's
                                            shipping goods or facilitating the travel of individuals.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Service Details Content-->
        </div>
    </div>
</section>
<!--End Service Details-->

