@{
    ViewData["Title"] = "İstanbul Antalya Nakliyat | Şehirlerarası Nakliyat, Evden Eve & Ofis Taşımacılığı";
    ViewData["Description"] = "İstanbul’dan Antalyaya’ya evden eve nakliyat, ofistaşımacılığı, fuar taşımacılığı ve ambar taşımacılığı. Uzman ekip ve sigortalı taşıma ile güvenle taşının. Hemen teklif alın.";
}

<!--Start Page Header-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(/assets/images/gallery/hadimkoy_hakkimizda.png)">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1 style="color: white; font-weight: bold;">İstanbul Antalya Nakliyat</h1>
            <ul class="thm-breadcrumb">
                <li><a href="/Home/Index">Ana Sayfa</a></li>
                <li><span class="icon-right-arrow21"></span></li>
                <li>İstanbul Antalya Nakliyat</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Header-->
<!--Start Service Details-->
<section class="service-details">
    <div class="container">
        <div class="row">
            <!--Start Service Details Sidebar-->
            <div class="col-xl-4">
                <div class="service-details__sidebar">
                    <div class="service-details__sidebar-single">
                        <div class="title-box">
                            <h2>Hizmetlerimiz</h2>
                        </div>
                        <div class="service-details__sidebar-single-service">
                            <ul class="clearfix">
                                <li>
                                    <a  href="/Home/İstanbul_İzmir_Nakliyat">
                                        İstanbul İzmir Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/İstanbul_Bursa_Nakliyat">
                                        İstanbul Bursa Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/İstanbul_Eskişehir_Nakliyat">
                                        İstanbul Eskişehir Nakliyat <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>

                                <li>
                                    <a class="active" href="/Home/İstanbul_Antalya_Nakliyat">
                                        <strong>İstanbul Antalya Nakliyat</strong> <span class="icon-right-arrow21"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="service-details__sidebar-contact text-center">
                        <div class="service-details__sidebar-contact-img">
                            <div class="inner">
                                <img src="~/assets/images/gallery/Hadimkoy_Ankara_Nakliyat_284x285.png" alt="">
                            </div>
                        </div>

                        <div class="service-details__sidebar-contact-content">
                            <div class="icon">
                                <span class="icon-phone"></span>
                            </div>
                            <h2><a href="tel:0532 543 68 37">+90 532 543 68 37</a></h2>
                            <h3>
                                Bizlerle İletişime Geçin <br>
                                Hizmetimizden Yararlanın
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Service Details Sidebar-->
            <!--Start Service Details Content-->
            <div class="col-xl-8">
                <div class="service-details__content">
                    <div class="service-details__content-img1">
                        <div class="inner">
                            <img src="~/assets/images/gallery/Sehirlerarasi_nakliyat_835x500.png" alt="#">
                        </div>
                    </div>

                    <div class="service-details__content-text1">
                        <h2>İstanbul Antalya Nakliyat</h2>
                        <p>
                            İStanbul’dan Antalyaya’ya eşyalarınızı taşımak, uzun bir mesafe ve dikkat gerektiren bir süreçtir. Türkiye’nin en önemli turizm merkezlerinden biri olan Antalya’dan başkent İstanbul’aa yapacağınız <strong>şehirlerarası nakliyatlar</strong> da, deneyimli bir ekibin desteğiyle tüm zorlukların üstesinden gelebilirsiniz. <strong>Hadımköy Ankara Nakliyat</strong>, Antalya-Ankara arasındaki nakliye ihtiyaçlarınızda güvenilir çözümler sunarak ev eşyalarınızdan ofis malzemelerinize, parça eşyalardan fuar ve çeyiz eşyalarına kadar her türlü <strong>taşıma</strong> talebinizi profesyonelce karşılar. Amacımız, bu iki şehir arasındaki taşınma sürecinizi sizin için mümkün olduğunca kolay ve stressiz hale getirmektir.
                            
                        </p>
                    </div>

                    <div class="service-details__content-text2">
                        <h3><strong>Fuar ve Ofis Taşımacılığında</strong> Uzmanlık</h3>
                        <p>
                            Antalya, yıl boyu çeşitli ulusal ve uluslararası fuarlara ev sahipliği yapan bir şehirdir. Antalya’daki bir fuar organizasyonuna katıldıktan sonra stant malzemelerinizi İstanbul'a taşımak istiyorsanız, Hadımköy Ankara Nakliyat’ın <strong>fuar taşımacılığı</strong> konusundaki uzmanlığı ile tanışmalısınız. Ekibimiz, fuar bitiminde tüm sergi malzemelerinizi hızla toparlayarak korunaklı bir şekilde paketler ve kararlaştırılan tarihte Ankara’daki hedef noktaya ulaştırır. Zamanında teslim, fuar malzemelerinin taşınmasında kritik olduğundan, planlamamızı tamamen fuar takviminize uygun biçimde yapıyoruz. <strong>Ofis taşımacılığında</strong> da İstanbuldaki işletmenizin Antalya’ya taşınma sürecini en ince ayrıntısına kadar yönetiyoruz. Büro mobilyalarınızı, elektronik cihazlarınızı ve dosyalarınızı kategorilere ayırarak paketliyor ve taşıyoruz. Özellikle Antalya gibi nemli ve sıcak iklime sahip bir şehirden, farklı iklim özellikleri olan İstanbul'a taşınırken, eşyaların uygun şartlarda muhafaza edilmesine özen gösteriyoruz. Hadımköy Ankara Nakliyat, ofis taşımalarında da sizlere gece veya hafta sonu gibi esnek zaman seçenekleri sunarak iş kaybınızı en aza indirmeyi hedefliyor. Yeni ofisinize geçiş sürecinde her şeyin sorunsuz ilerlemesi için uzman kadromuzla yanınızdayız.
                        </p>
                    </div>

                    <div class="service-details__content-img2">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-img">
                                    <img src="~/assets/images/gallery/Hadimkoy_Ankara_Nakliyat_Taşımacılık_390x225.png" alt="">
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-img">
                                    <img src="~/assets/images/gallery/Hadimkoy_Ankara_Nakliyat_Stairs_390x225.png" alt="">
                                </div>
                            </div>
                        </div>
                        <h4>Güvenli ve Profesyonel <strong>Şehirlerarası Nakliyat</strong></h4>
                        <p>
                            İstanbul ile Antalya arasındaki yaklaşık 695 km’lik mesafe, taşınma konusunda uzman bir planlama gerektirir. Hadımköy Ankara Nakliyat olarak, güvenli ve profesyonel <strong>şehirlerarası nakliyatın</strong> gerektirdiği tüm unsurları hizmet standartlarımıza dahil ediyoruz. Yola çıkmadan önce eşyalarınızın envanterini hazırlayarak her parçanın uygun koşullarda taşınmasını garanti altına alıyoruz. Uzun yol deneyimine sahip şoförlerimiz, Antalya’dan Ankara’ya uzanan güzergahta yol güvenliğini ön planda tutarak araçlarımızı dikkatlice kullanır. Filomuzdaki tüm taşıma araçları, uzun mesafe yolculuklarına uygun donanıma sahip olup düzenli olarak bakıma girmektedir. Ayrıca, taşınma işleminizin her adımında <strong>sigortalı nakliyat</strong> güvencesi sunuyor, eşyalarınızı beklenmedik durumlara karşı koruma altına alıyoruz. Bu sayede, İstanbul’dan yola çıkan eşyalarınızın Antalya’ya sapasağlam ulaştırılacağından emin olabilirsiniz.
                        </p>
                        
                    </div>

                    <div class="service-details__content-img3">
                        <img src="~/assets/images/gallery/Hadimkoy_Ankara_Nakliyat_835x335.png" alt="">
                    </div>

                    <div class="service-details__faq">
                        <div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion-1">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>İstanbul'dan Antalya'ya Nakliyatta Neden Biz?</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            Taşınma sürecinde doğru nakliyat firmasıyla çalışmak, özellikle İstanbul gibi uzak bir mesafeden Antalya’ya taşınırken, son derece önemlidir. <strong>Hadımköy Ankara Nakliyat</strong>, sunduğu kapsamlı hizmetler ve güvenilirlik ilkesiyle Antalya’dan Ankara’ya yapacağınız taşınmalarda en büyük yardımcınız olacaktır. Firmamız, yılların deneyimini teknolojik yeniliklerle birleştirerek her geçen gün hizmet kalitesini artırmaktadır. Antalya’da eşyalarınızı yüklerken de Ankara’da teslim ederken de ekibimizin profesyonelliği ve koordinasyonu sayesinde hiçbir aksaklık yaşanmaması için çaba gösteriyoruz. Hadımköy Ankara Nakliyat’ı seçmenin avantajları saymakla bitmez: Her şeyden önce, %100 müşteri memnuniyeti hedefiyle çalışıyoruz. Taşınma öncesi ücretsiz ekspertiz yaparak eşyalarınızın en doğru şekilde taşınması için planlama yapıyoruz ve size net bir yol haritası sunuyoruz. Eşyalarınız bize emanettir; bu bilinçle paketlemeden araca yüklemeye, yolculuktan boşaltmaya kadar her aşamada büyük bir özen gösteriyoruz. Sigortalı nakliyat sayesinde, eşyalarınızın başına gelebilecek beklenmedik durumlara karşı maddi güvenceniz bulunuyor. Ayrıca geniş araç filomuz ve her boyuttaki eşyayı taşıyacak ekipmanımızla ister 1+1 daire, ister villa eşyası olsun, her ölçekte taşınmayı başarıyla gerçekleştiriyoruz. Rekabetçi fiyat politikamız ile kaliteli hizmeti uygun koşullarda sunuyor, taşınma maliyetlerinizi de makul seviyede tutuyoruz. Tüm bu nedenlerle, İstanbul’dan Antalya’ya nakliyat işlerinizde Hadımköy Ankara Nakliyat olarak güvenebileceğiniz bir çözüm ortağı olmaktan gurur duyuyoruz.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion mb0">
                                <div class="accrodion-title">
                                    <h4><strong>Parsiyel ve Çeyiz Taşımacılığı</strong> Çözümleri</h4>
                                </div>

                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            İstanbul’dan Antalya’ya tek seferde tüm evini taşımayacak, sadece belirli eşyaları gönderecek olan müşterilerimiz için <strong>parsiyel taşımacılık</strong> ideal bir seçenektir. Hadımköy Ankara Nakliyat olarak, parça eşya taşımacılığında Antalya-Ankara güzergâhında düzenli araç seferleri düzenliyoruz. Bu sayede bir koltuk takımı, birkaç kutu ev eşyası veya benzeri küçük ölçekli gönderilerinizi, yüksek bir kamyon ücreti ödemek zorunda kalmadan İstanbul'a' ulaştırabilirsiniz. Her parsiyel gönderide, eşyalarınız diğer müşterilerin eşyalarından ayrı bölümlerde taşınır ve etiketlenerek takip edilir. Böylece hiçbir eşyanız gözden kaçmaz ve hepsi doğru adrese teslim edilir. Antalya, aynı zamanda birçok aile için yazlık veya ikinci ev eşyalarının bulunduğu bir şehirdir. Antalya’ya taşınacak çeyiz eşyalarınız ya da yazlık evinizden getirilecek özel eşyalarınız için de özenli taşımacılık çözümleri sunuyoruz. Çeyiz taşımacılığında, her bir parça – ister büyük bir beyaz eşya olsun, ister hassas bir aile yadigarı – koruyucu malzemelerle sarılarak güvence altına alınır. Antalya’nın nemli ortamından çıkan eşyalarınız, Ankara’ya taşınırken uygun koşullarda taşınır, böylece ne rutubetten ne de yolculuk esnasındaki sarsıntılardan etkilenmez. Müşterilerimizin değer verdiği eşyaları, söz verdiğimiz zamanda ve eksiksiz şekilde yeni adresine teslim ederek güvenlerini boşa çıkarmıyoruz.


                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Service Details Content-->
        </div>
    </div>
</section>
<!--End Service Details-->
