@{
    ViewData["Title"] = "Şehirlerarası hizmetlerimiz Nelerdir Hemen Bilgi Alın - Hadımköy Ankara Nakliyat";
    ViewData["Description"] = "Profesyonel şehirlerarası nakliyat hizmeti. Eşyalarınızı Türkiye’nin her yerine güvenle taşıyoruz. Sigortalı, hızlı ve uzman kadro ile hemen teklif alın!";
}

<!--Start Page Header-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(/assets/images/gallery/hadimkoy_hakkimizda.png)">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1 style="color: white; font-weight: bold;">Şehirlerarası hizmetlerimiz</h1>
            <ul class="thm-breadcrumb">
                <li><a href="/Home/Index">Ana Sayfa</a></li>
                <li><span class="icon-right-arrow21"></span></li>
                <li>Şehirlerarası hizmetlerimiz</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Header-->
<!--Start Service One-->
<section class="service-one service-one--service">
    <div class="container">
        <div class="row">
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/gallery/sehirlerarasi_nakliyat_395x300.png" loading="lazy" alt="istanbul izmir nakliyat">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="/Home/istanbul_izmir_nakliyat">İstanbul İzmir Nakliyat</a></h2>
                            <p>
                                İstanbul’dan İzmir’e şehirlerarası nakliyat hizmetimizle ev, ofis ve fuar taşımacılığında güvenli ve hızlı çözümler sunuyoruz...
                            </p>
                            <div class="btn-box">
                                <a href="/Home/istanbul_izmir_nakliyat">
                                    Devamını oku<span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/gallery/sehirlerarasi_nakliyat_395x300.png" loading="lazy" alt="istanbul bursa nakliyat">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="/Home/istanbul_bursa_nakliyat">İstanbul Bursa Nakliyat</a></h2>
                            <p>
                                İstanbul’dan Bursa’ya evden eve nakliyat , fuar ve ofis taşımacılığında uzman kadromuzla şehirlerarası nakliyat çözümleri sunmaktayız...
                            </p>
                            <div class="btn-box">
                                <a href="/Home/istanbul_bursa_nakliyat">
                                    Devamını oku <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/gallery/sehirlerarasi_nakliyat_395x300.png" loading="lazy" alt="istanbul eskişehir nakliyat">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="/Home/istanbul_eskisehir_nakliyat">İstanbul Eskişehir Nakliyat</a></h2>
                            <p>
                                İstanbul’dan Eskişehir’e sigortalı ve profesyonel nakliyat hizmetiyle eşyalarınızı özenle taşıyor, zamanında teslimat garantisi veriyoruz...
                            </p>
                            <div class="btn-box">
                                <a href="/Home/istanbul_eskisehir_nakliyat">
                                    Devamını oku <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/gallery/sehirlerarasi_nakliyat_395x300.png" loading="lazy" alt="istanbul antalya nakliyat">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="/Home/istanbul_antalya_nakliyat">İstanbul Antalya Nakliyat</a></h2>
                            <p>
                               İstanbul çıkışlı Antalya yönlü taşımacılıkta çeyiz, ofis ve parça eşya dahil olmak üzere tüm ihtiyaçlarınıza özel çözümler sunuyoruz...
                            </p>
                            <div class="btn-box">
                                <a href="/Home/istanbul_antalya_nakliyat">
                                    Devamını oku <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
        </div>
    </div>
</section>
<!--End Service One-->
