@{
    ViewData["Title"] = "?";
    ViewData["Description"] = "?";
}

<!--Start Page Header-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(/assets/images/gallery/hadimkoy_hakkimizda.png)">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1 style="color: white; font-weight: bold;">Şehirlerarası Hizmetlerimiz</h1>
            <ul class="thm-breadcrumb">
                <li><a href="/Home/Index">Ana Sayfa</a></li>
                <li><span class="icon-right-arrow21"></span></li>
                <li>Şehirlerarası Hizmetlerimiz</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Header-->
<!--Start Service One-->
<section class="service-one service-one--service">
    <div class="container">
        <div class="row">
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/gallery/Sehirlerarasi_Nakliyat_395x300.png" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="/Home/İzmir_Ankara_Nakliyat">İzmir Ankara Nakliyat</a></h2>
                            <p>
                                İzmir’den Ankara’ya şehirlerarası nakliyat hizmetimizle ev, ofis ve fuar taşımacılığında güvenli ve hızlı çözümler sunuyoruz...
                            </p>
                            <div class="btn-box">
                                <a href="/Home/İzmir_Ankara_Nakliyat">
                                    Devamını oku<span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/gallery/Sehirlerarasi_Nakliyat_395x300.png" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="/Home/Bursa_Ankara_Nakliyat">Bursa Ankara Nakliyat</a></h2>
                            <p>
                                Bursa’dan Ankara’ya evden eve, fuar ve ofis taşımacılığında uzman kadromuzla şehirlerarası nakliyat çözümleri sunmaktayız...
                            </p>
                            <div class="btn-box">
                                <a href="/Home/Bursa_Ankara_Nakliyat">
                                    Devamını oku <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/gallery/Sehirlerarasi_Nakliyat_395x300.png" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="/Home/Eskisehir_Ankara_Nakliyat">Eskişehir Ankara Nakliyat</a></h2>
                            <p>
                                Eskişehir’den Ankara’ya sigortalı ve profesyonel nakliyat hizmetiyle eşyalarınızı özenle taşıyor, zamanında teslimat garantisi veriyoruz...
                            </p>
                            <div class="btn-box">
                                <a href="/Home/Eskisehir_Ankara_Nakliyat">
                                    Devamını oku <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
            <!--Start Service One Single-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0ms"
                 data-wow-duration="1500ms">
                <div class="service-one__single">
                    <div class="service-one__single-inner">
                        <div class="service-one__single-img">
                            <img src="~/assets/images/gallery/Sehirlerarasi_Nakliyat_395x300.png" alt="#">
                        </div>

                        <div class="service-one__single-content">
                            <h2><a href="/Home/Antalya_Ankara_Nakliyat">Antalya Ankara Nakliyat</a></h2>
                            <p>
                                Antalya çıkışlı Ankara yönlü taşımacılıkta çeyiz, ofis ve parça eşya dahil olmak üzere tüm ihtiyaçlarınıza özel çözümler sunuyoruz...
                            </p>
                            <div class="btn-box">
                                <a href="/Home/Antalya_Ankara_Nakliyat">
                                    Devamını oku <span class="icon-right-arrow21"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="icon">
                        <span class="icon-shipment"></span>
                    </div>
                </div>
            </div>
            <!--End Service One Single-->
        </div>
    </div>
</section>
<!--End Service One-->
